/* CSS */
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/inter.css");

html,
body {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
}

h1 {
  color: green;
}

h2 {
  color: rgb(117, 177, 117);
}

p,
a {
  line-height: 135%;
}

h3 {
  font-size: medium;
}

.title {
  margin-bottom: 32px;
}

.title h1,
.title h2 {
  margin: 0;
}

main {
  margin: 32px auto;
  max-width: 800px;
}
