/* CSS */
:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}
h1 {
  color: green;
  margin: 0;
  margin-top: 32px;
}

h2 {
  color: rgb(117, 177, 117);
  margin: 0;
  margin-bottom: 32px;
}

/* p {
  color: green;
} */

h3 {
  font-size: medium;
}

main {
  margin: 0 auto;
  max-width: 800px;
}
